<section class="products-index">
  <header class="page-header">
  <title>About Us</title>
  <body>  
  <div class="intro">
  <h1>About Us</h1>
      <p>
        <%= @company_name %> was founded in <%=@company_founding %>, by three friends who had a love for all things plants! 
      </p>
      <p>
        At our online plant shop, we only sell the highest quality plants and flowers. We source our products from reputable growers and nurseries, so you can be sure you're getting a healthy, beautiful plant. Plus, ordering is quick and easy! We offer free shipping on all orders over $50, so it's easy to get the plants you want without breaking the bank.
      </p>
      <p>
        You can visit us in person soon at our new store at <%= @company_address %>!
      </p>
    </div>
    </body>
  </header>

</section>
